<div class="screen-overlay"></div>
<aside class="navbar-aside" id="offcanvas_aside">
  <div class="aside-top">
    <a href="index.html" class="brand-wrap">
      <img src="/assets/imgs/logo.png" class="logo" alt="Evara Dashboard" />
    </a>
    <div>
      <button class="btn btn-icon btn-aside-minimize">
        <i class="text-muted material-icons md-menu_open"></i>
      </button>
    </div>
  </div>
  <nav>
    <ul class="menu-aside">
      <li class="menu-item">
        <a class="menu-link" href="/admin/dashboard">
          <i class="icon material-icons md-home"></i>
          <span class="text">Dashboard</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/admin/productList">
          <i class="icon material-icons md-shopping_bag"></i>
          <span class="text">Products</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/admin/category">
          <i class="icon material-icons md-store"></i>
          <span class="text">Categories</span>
        </a>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/admin/userList">
          <i class="icon material-icons md-person"></i>
          <span class="text">Users</span>
        </a>
      </li>
      <li class="menu-item active">
        <a class="menu-link" href="/admin/banners">
          <i class="icon material-icons md-shopping_bag"></i>
          <span class="text">Banners</span>
        </a>
      </li>
      <li class="menu-item has-submenu">
        <a class="menu-link" href="#">
          <i class="icon material-icons md-stars"></i>
          <span class="text">Coupons</span>
        </a>
        <div class="submenu">
          <a href="/admin/coupons">Coupons</a>
          <a href="/admin/addCoupons">Add Coupon</a>
        </div>
      </li>
      <li class="menu-item">
        <a class="menu-link" href="/admin/orders">
          <i class="icon material-icons md-shopping_cart"></i>
          <span class="text">Orders</span>
        </a>
      </li>
      <hr />
      <li class="menu-item">
        <a class="menu-link" href="/admin/sales-report">
          <i class="icon material-icons md-settings"></i>
          <span class="text">Sales Report</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>
<main class="main-wrap">
  <%-include('../partials/adminHeader.ejs')-%>
  <section class="content-main">
    <div class="content-header">
      <div>
        <h2 class="content-title card-title">Banners</h2>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <form
              action="/admin/addBanner"
              method="POST"
              enctype="multipart/form-data"
            >
              <div class="mb-4">
                <label for="product_name" class="form-label">Banner Name</label>
                <input
                  type="text"
                  placeholder="Type here"
                  class="form-control"
                  id="bname"
                  name="bname"
                />
              </div>
              <div class="card-header">
                <h4>Media</h4>
              </div>

              <label class="form-label">Images</label>
              <input
                class="form-control"
                type="file"
                name="images"
                accept="image/jpeg,image/png"
                onchange="previewImage(event)"
              />
              <img class="preview" style="width: 100px; height: inherit" />
              <div class="d-grid">
                <button class="btn btn-primary">Create Banner</button>
              </div>
            </form>
          </div>
          <div class="col-md-8">
            <div class="table-responsive">
              <table class="table table-hover" id="bannerTable">
                <thead>
                  <tr>
                    <th>Index</th>
                    <th>Name</th>
                    <th>Image</th>
                    <th class="text-end">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% allBanner.reverse().forEach(function(banner,index){ %>
                  <tr>
                    <td><%-index+1%></td>
                    <td><%=banner.bname%></td>
                    <td>
                      <img
                        src="<%=banner.bimages[0]%>"
                        alt=""
                        style="height: 100px; width: 100px"
                      />
                    </td>
                    <td class="text-end">
                      <div class="dropdown">
                        <a
                          href="#"
                          data-bs-toggle="dropdown"
                          class="btn btn-light rounded btn-sm font-sm"
                        >
                          <i class="material-icons md-more_horiz"></i>
                        </a>
                        <div class="dropdown-menu">
                          <form
                            method="get"
                            action="/admin/updateBanner/<%=banner._id%>"
                          >
                            <button
                              type="submit"
                              class="btn btn-sm btn-warning rounded font-sm dropdown-item text-warning"
                            >
                              Edit
                            </button>
                          </form>
                          <button
                            type="submit"
                            class="btn btn-sm btn-danger rounded font-sm dropdown-item text-danger"
                            onclick="deleteBanner('<%=banner._id%>')"
                          >
                            Delete
                          </button>
                        </div>
                      </div>
                      <!--dropdown //end -->
                    </td>
                  </tr>
                  <%})%>
                </tbody>
              </table>
            </div>
          </div>
          <!-- .col// -->
        </div>
        <!-- .row // -->
      </div>
      <!-- card body .// -->
    </div>
    <!-- card .// -->
  </section>
  <!-- content-main end// -->
  <%-include('../partials/adminFooter.ejs')%>

  <script>
    function deleteBanner(bannerId) {
      Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete Banner!",
      }).then((result) => {
        if (result.isConfirmed) {
          $.ajax({
            url: "/admin/deleteBanner/" + bannerId,
            method: "post",
            success: function () {
              location.reload();
            },
          });
        }
      });
    }
  </script>
</main>
