<div class="screen-overlay"></div>
<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
        <a href="" class="brand-wrap">
            <img src="/assets/imgs/logo.png" class="logo" alt="Evara Dashboard">
        </a>
        <div>
            <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
        </div>
    </div>
    <nav>
        <ul class="menu-aside">
            <li class="menu-item">
                <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li class="menu-item active">
                <a class="menu-link" href="/admin/productList"> <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Products</span>
                </a>
                <!-- <div class="submenu">
                    <a href="page-products-list.html">Product List</a>
                    <a href="page-products-grid.html">Product grid</a>
                    <a href="page-products-grid-2.html">Product grid 2</a>
                    <a href="page-categories.html">Categories</a>
                </div> -->
            </li>
            <!-- <li class="menu-item has-submenu">
                <a class="menu-link" href="page-orders-1.html"> <i class="icon material-icons md-shopping_cart"></i>
                    <span class="text">Orders</span>
                </a>
                <div class="submenu">
                    <a href="page-orders-1.html">Order list 1</a>
                    <a href="page-orders-2.html">Order list 2</a>
                    <a href="page-orders-detail.html">Order detail</a>
                </div>
            </li> -->
            <li class="menu-item">
                <a class="menu-link" href="/admin/category"> <i class="icon material-icons md-store"></i>
                    <span class="text">Categories</span>
                </a>
                <!-- <div class="submenu">
                    <a href="page-products-list.html">Product List</a>
                    <a href="page-products-grid.html">Product grid</a>
                    <a href="page-products-grid-2.html">Product grid 2</a>
                    <a href="page-categories.html" class="active">Categories</a>
                </div> -->
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="/admin/userList"> <i class="icon material-icons md-store"></i>
                    <span class="text">Users</span>
                </a>
                <!-- <div class="submenu">
                    <a href="page-sellers-cards.html">Sellers cards</a>
                    <a href="page-sellers-list.html">Sellers list</a>
                    <a href="page-seller-detail.html">Seller profile</a>
                </div> -->
            </li>
            <!-- <li class="menu-item has-submenu active">
                <a class="menu-link" href="page-form-product-1.html"> <i class="icon material-icons md-add_box"></i>
                    <span class="text">Add product</span>
                </a>
                <div class="submenu">
                    <a href="page-form-product-1.html" class="active">Add product 1</a>
                    <a href="page-form-product-2.html">Add product 2</a>
                    <a href="page-form-product-3.html">Add product 3</a>
                    <a href="page-form-product-4.html">Add product 4</a>
                </div>
            </li> -->
            <li class="menu-item">
                <a class="menu-link" href="/admin/banners"> <i class="icon material-icons md-stars"></i>
                    <span class="text">Banners</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/orders"> <i class="icon material-icons md-shopping_cart"></i>
                    <span class="text">Orders</span>
                </a>
            </li>
            
        </ul>
        
    </nav>
</aside>
<main class="main-wrap">
    <%-include('../partials/adminHeader.ejs')-%>
    <section class="content-main">
        <div class="row">
            <div class="col-9">
                <div class="content-header">
                    <h2 class="content-title">Edit Product</h2>
                    
                </div>
            </div>
            <div class="col-lg-5">
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Basic</h4>
                    </div>
                    <div class="card-body">
                        <form action="/admin/updateProduct/<%=singleProduct._id%>" method="post" id="addProduct" enctype="multipart/form-data" >
                         
                            <div class="mb-4">
                                <label for="product_name" class="form-label">Product Name</label>
                                <input type="text" placeholder="Type here" class="form-control" id="pname" name="pname" value="<%=singleProduct.pname%>">
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Full description</label>
                                <textarea placeholder="Type here" class="form-control" rows="4" id="pdescription" name="pdescription"><%=singleProduct.pdescription%></textarea>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-4">
                                        <label class="form-label">Regular price</label>
                                        <div class="row gx-2">
                                            <input placeholder="₹" type="text" class="form-control" name="pprice" id="pprice" value="<%=singleProduct.pprice%>">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-4">
                                        <label class="form-label">Stock</label>
                                        <input placeholder="" type="text" class="form-control" name="pcountInStock" id="pcountInStock" value="<%=singleProduct.pcountInStock%>"">
                                    </div>
                                </div>
                                
                            </div>
                            <button type="submit" class="btn btn-brand rounded font-sm hover-up">Edit product</button>
                        
                    </div>
                </div> <!-- card end// -->

            </div>
             <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Media</h4>
                    </div>
                    <div class="card mb-4">
                        <div class="card-body">
                          <div>
                            <label class="form-label">Images</label>
                            <% singleProduct.pimages.forEach((image)=>{%>
                            <img
                              src="<%=image %>"
                              alt=""
                              style="width: 100px; height: auto"
                            />
                            <%})%>
                            <input
                              class="form-control"
                              type="file"
                              name="images"
                              accept="image/jpeg,image/png"
                              onchange="previewImage(event)"
                              multiple
                       
                            />
                            <img class="preview" style="width: 100px; height: inherit" />
                          
                        </div>
                      </div>
                    </div>
                </div> <!-- card end// -->
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Organization</h4>
                    </div>
                    <div class="card-body">
                        <div class="row gx-2">
                            <div class="col-sm-6 mb-3">
                                <label class="form-label">Category</label>
                                <select class="form-select" name="pcategory" id="pcategory"> 
                                    <% allCategory.forEach(function(category){%>
                                        <% if(category.cname === singleProduct.pcategory){ %>
                                            <option selected><%= category.cname %></option>
                                        <% } else { %>
                                            <option><%= category.cname %></option>
                                        <% } %>
                                    <% }) %>
                                </select>
                            </div>
                        </div> 
                         <!-- row.// -->
                    </div>
                </div> <!-- card end// -->
            </div>
        </form>
        </div>
    </section> <!-- content-main end// -->
    <%-include('../partials/adminFooter.ejs')%> 
</main>

<script>

  function previewImage(event) {
    var input = event.target;

    var preview = input.nextElementSibling;

    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function () {
        preview.src = reader.result;
      };

      reader.readAsDataURL(input.files[0]);
    }
  }

</script>

