<div class="screen-overlay"></div>
<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
        <a href="index.html" class="brand-wrap">
            <img src="/assets/imgs/logo.png" class="logo" alt="Evara Dashboard">
        </a>
        <div>
            <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
            </button>
        </div>
    </div>
    <nav>
        <ul class="menu-aside">
            <li class="menu-item">
                <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/productList"> <i
                        class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Products</span>
                </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="/admin/category"> <i class="icon material-icons md-store"></i>
                    <span class="text">Categories</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/userList"> <i class="icon material-icons md-person"></i>
                    <span class="text">Users</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/banners"> <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Banners</span>
                </a>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href="#"> <i class="icon material-icons md-stars"></i>
                    <span class="text">Coupons</span>
                </a>
                <div class="submenu">
                    <a href="/admin/coupons">Coupons</a>
                    <a href="/admin/addCoupons">Add Coupon</a>
                </div>
            </li>
            <li class="menu-item active">
                <a class="menu-link" href="/admin/orders"> <i class="icon material-icons md-shopping_cart"></i>
                    <span class="text">Orders</span>
                </a>
            </li>
            <hr>
            <li class="menu-item ">
              <a class="menu-link" href="/admin/sales-report">
                <i class="icon material-icons md-settings"></i>
                <span class="text">Sales Report</span>
              </a>
            </li>
          </ul>
    </nav>
</aside>
<main class="main-wrap">
    <%-include('../partials/adminHeader.ejs')-%>
    <section class="content-main">
        <div class="content-header">
          <div>
            <h2 class="content-title card-title">Order Management.</h2>
            <p>Manage Orders</p>
          </div>
        </div>
        <div class="card mb-4">
          <header class="card-header">
            <div class="row gx-3">
             
            </div>
          </header>
    <div class="card-body">
        <div class="table-responsive">
          <table id="myTableOrder" class="table table-hover display">
            <thead>
              <tr>
                <th>index</th>
                <th>#ID</th>
                <th scope="col">Name</th>
                <th scope="col">Amount</th>
                <th scope="col">Payment Method</th>
                <th scope="col">Status</th>
                <th scope="col">Date</th>
                <th scope="col" class="text-end">Action</th>
              </tr>
            </thead>
            <tbody>
             
                <% orders.reverse().forEach(function(order,index) { %>
                    <tr>
                        <td><%-index+1%></td>
                      <td><%= order._id.toString().substr(0, 10) %></td>
                      <td><b><%= order.fname %></b></td>
                      <td>&#x20B9;<%= order.total_amount %></td>
                      <td><%= order.payment_method %></td>
                      <td>
                        <% if (order.order_status === "placed") { %>
                          <span class="badge rounded-pill bg-success">
                            <%= order.order_status %>
                          </span>
                        <% }else if (order.order_status === "pending") { %>
                        <span class="badge rounded-pill bg-warning">
                          <%= order.order_status %>
                        </span>
                        <% } else if (order.order_status === "Shipped") { %>
                        <span class="badge rounded-pill bg-success">
                          <%= order.order_status %>
                        </span>
                        <% } else if (order.order_status === "delivered") { %>
                        <span class="badge rounded-pill bg-info">
                          <%= order.order_status %>
                        </span>
                        <% } else if (order.order_status === "cancelled") { %>
                        <span class="badge rounded-pill bg-danger">
                          <%= order.order_status %>
                        </span>
                        <% } %>
                      </td>
                      <td>
                        <%= new Date(order.order_date).toLocaleDateString('en-GB', {
                        day: '2-digit', month: '2-digit', year: 'numeric', hour:
                        '2-digit', minute: '2-digit', }).replace(/\//g, '-') %>
                      </td>
                      <td class="text-end">
                        <a
                          href="/admin/viewOrders/<%= order._id %>"
                          class="btn btn-md rounded font-sm"
                          >View Order</a
                        >
                      </td>
                    </tr>
                    <% }); %>
            </tbody>
          </table>
        </div>
      </div>
      </div>
      </section>
</main>
<!-- content-main end// -->

<%-include('../partials/adminFooter.ejs')%>
