<%-include('../partials/adminHeader.ejs')-%>

<link href="../adminassets/css/main.css" rel="stylesheet" type="text/css" />
<section class="content-main">
  <div class="content-header">
    <div>
      <h2 class="content-title card-title">Order details.</h2>
      <p>Details for Order ID:<%=order._id.toString().substr(0, 10)%> </p>
    </div>
  </div>
  <div class="card">
    <header class="card-header">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
          <span>
            <i class="material-icons md-calendar_today"></i>
            <b><%=new Date(order.order_date).toLocaleString('en-US', {
                dateStyle: 'short', timeStyle: 'short' })%>
              </b
            >
          </span>
          <br />
          <small class="text-muted">Order ID:<%= order._id.toString().substr(0, 10) %> </small>
        </div>
        
      </div>
    </header>
    <!-- card-header end// -->
    <div class="card-body">
      <div class="row mb-50 mt-20 order-info-wrap">
        <div class="col-md-4">
          <article class="icontext align-items-start">
            <span class="icon icon-sm rounded-circle bg-primary-light">
              <i class="text-primary material-icons md-person"></i>
            </span>
            <div class="text">
              <h6 class="mb-1">Customer</h6>
              <p class="mb-1">
                <%=order.fname%> <br />
                <%=order.phone%>
                
              </p>
            </div>
          </article>
        </div>
        <!-- col// -->
        <div class="col-md-4">
          <article class="icontext align-items-start">
            <span class="icon icon-sm rounded-circle bg-primary-light">
              <i class="text-primary material-icons md-local_shipping"></i>
            </span>
            <div class="text">
              <h6 class="mb-1">Order info</h6>
              <p class="mb-1">
                Shipping: Ogani Logistics <br />
                Pay method:<%=order?.payment_method%><br />
                order Status: <%=order?.order_status%>
              </p>
            </div>
          </article>
        </div>
        <!-- col// -->
        <div class="col-md-4">
          <article class="icontext align-items-start">
            <span class="icon icon-sm rounded-circle bg-primary-light">
              <i class="text-primary material-icons md-place"></i>
            </span>
            <div class="text">
              <h6 class="mb-1">Deliver to</h6>
              <p class="mb-1">
                <%=order?.address%>,<br> <%=order?.city %>,<br>
                <%= order?.state %> - <%=order?.pincode
                %><br />
              </p>
            </div>
          </article>
        </div>
        <!-- col// -->
      </div>
      <!-- row // -->
      <div class="row">
        <div class="col-lg-7">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th width="40%">Product</th>
                  <th width="20%">Unit Price</th>
                  <th width="20%">Quantity</th>
                  <th width="20%" class="text-end">Total</th>
                </tr>
              </thead>
              <tbody>
                <% productDetails.forEach(function(product,index) { %>
                    <tr>
                      <td>
                        <a class="itemside" href="">
                          <div class="left">
                            <img
                              src="<%= product.image%>"
                              width="40"
                              height="40"
                              class="img-xs"
                              alt="Item"
                            />
                          </div>
                          <div class="info"><%= product.name %></div>
                        </a>
                      </td>
                      <td>&#x20B9;<%= product.price %></td>
                      <td><%= product.quantity %></td>
                      <td class="text-end">
                        &#x20B9;<%= product.quantity * product.price %>
                      </td>
                    </tr>
                    <% }); %>
                <tr>
                  <td colspan="4">
                    <article class="float-end">
                     
                    <%if(order.discount != 0){%>
                      <dl class="dlist">
                            <dt>discount:</dt>
                            <dd> <b class="h6">-₹<%=order.discount%></b> </dd>
                          </dl>
                          <%}%>
                    <dl class="dlist">
                        <dt>Grand total:</dt>
                        <dd> <b class="h5">₹<%=order.total_amount%></b> </dd>
                    </dl>
                      <dl class="dlist">
                        <dt class="text-muted">payment Status:</dt>
                        <dd>
                            <% if (order?.payment_status === "paid") { %>
                                <span
                                  class="badge rounded-pill alert-success text-success"
                                  >Paid</span
                                >
                                <% } else { %>
                                <span
                                  class="badge rounded-pill alert-danger text-danger"
                                  >Pending</span
                                >
                                <% } %>
                        </dd>
                      </dl>
                    </article>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- table-responsive// -->
        </div>
        <!-- col// -->
        <div class="col-lg-1"></div>
        <div class="col-lg-3">
          <div class="box shadow-sm bg-light">
            <div class="mb-4">
                <div class="mb-4">
                    <% if (order.order_status === "Returned" && (order.return_status
                    === "pending" || order.return_status === "rejected" ||
                    order.return_status === "approved")) { %>
                    <input type="text" id="orderId" value="<%=order._id%>" hidden />
                    <label
                      class="mb-2 form-check form-check-inline"
                      style="width: 60%"
                    >
                      <input
                        class="form-check-input"
                        name="status"
                        id="approved"
                        type="radio"
                        value="approved"
                      />
                      <span class="form-check-label">Approve</span>
                    </label>
                    <label
                      class="mb-2 form-check form-check-inline"
                      style="width: 60%"
                    >
                      <input
                        class="form-check-input"
                        name="status"
                        id="rejected"
                        type="radio"
                        value="rejected"
                      />
                      <span class="form-check-label">Reject</span>
                    </label>
                    <button
                      class="btn btn-primary"
                      type="button"
                      onclick="validateFormreturn()"
                    >
                      Change Status
                    </button>
      
                    <% } else if(order.order_status != "cancelled"){ %>
                    <input type="text" id="orderId" value="<%=order._id%>" hidden />
                    <label
                      class="mb-2 form-check form-check-inline"
                      style="width: 60%"
                    >
                      <input
                        class="form-check-input"
                        name="status"
                        id="shipped"
                        type="radio"
                        value="Shipped"
                      />
                      <span class="form-check-label">Shipped</span>
                    </label>
                    <label
                      class="mb-2 form-check form-check-inline"
                      style="width: 60%"
                    >
                      <input
                        class="form-check-input"
                        name="status"
                        id="delivered"
                        type="radio"
                        value="delivered"
                      />
                      <span class="form-check-label">Delivered</span>
                    </label>
                    <label
                      class="mb-2 form-check form-check-inline"
                      style="width: 60%"
                    >
                      <input
                        class="form-check-input"
                        name="status"
                        id="cancelled"
                        type="radio"
                        value="cancelled"
                      />
                      <span class="form-check-label">Cancel</span>
                    </label>
                  </div>
                  <button
                    class="btn btn-primary"
                    type="button"
                    onclick="validateForm()"
                  >
                    Change Status
                  </button>
                  <% }else{ %>
                    <div></div>
                    <%}%>
            
          </div>
        </div>

        <script>
          function validateFormreturn() {
            let orderId = document.getElementById("orderId").value;
            let status = "";
            if (document.getElementById("approved").checked) {
              status = "approved";
            } else if (document.getElementById("rejected").checked) {
              status = "rejected";
            } else {
              alert("Select Order status to update");
              return; // added return to exit the function if no radio button is selected
            }
            updateOrderStatus(status, orderId);
          }
          function validateForm() {
            let orderId = document.getElementById("orderId").value;
            let status = "";
            if (document.getElementById("shipped").checked) {
              status = document.getElementById("shipped").value;
            } else if (document.getElementById("delivered").checked) {
              status = document.getElementById("delivered").value;
            } else if (document.getElementById("cancelled").checked) {
              status = document.getElementById("cancelled").value;
            } else {
              alert("Select Order status to update");
              return; // added return to exit the function if no radio button is selected
            }
            updateOrderStatus(status, orderId);
          }

          function updateOrderStatus(status, orderId) {
            $.ajax({
              url: "/admin/update-order-status",
              method: "post",
              data: {
                status: status,
                orderId: orderId,
              },
              success: (response) => {
                if (response.status) {
                  Swal.fire({
                    title: "Updated!",
                    text: "Order status has been updated.",
                    icon: "success",
                  }).then((result) => {
                    location.reload();
                  });
                } else {
                  Swal.fire({
                    title: "Oops!",
                    text: "Order status could not update.",
                    icon: "error",
                  }).then((result) => {
                    location.reload();
                  });
                }
              },
            });
          }
        </script>

<%-include('../partials/adminFooter.ejs')%>
      </div>
    </div>
  </div>
</section>