<div class="screen-overlay"></div>
<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
        <a href="index.html" class="brand-wrap">
            <img src="/assets/imgs/logo.png" class="logo" alt="Evara Dashboard">
        </a>
        <div>
            <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
            </button>
        </div>
    </div>
    <nav>
        <ul class="menu-aside">
            <li class="menu-item">
                <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li class="menu-item active">
                <a class="menu-link" href="/admin/productList"> <i
                        class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Products</span>
                </a>
                <!-- <div class="submenu">
                    <a href="page-products-list.html">Product List</a>
                    <a href="page-products-grid.html">Product grid</a>
                    <a href="page-products-grid-2.html">Product grid 2</a>
                    <a href="page-categories.html">Categories</a>
                </div> -->
            </li>
            <!-- <li class="menu-item has-submenu">
                <a class="menu-link" href="page-orders-1.html"> <i class="icon material-icons md-shopping_cart"></i>
                    <span class="text">Orders</span>
                </a>
                <div class="submenu">
                    <a href="page-orders-1.html">Order list 1</a>
                    <a href="page-orders-2.html">Order list 2</a>
                    <a href="page-orders-detail.html">Order detail</a>
                </div>
            </li> -->
            <li class="menu-item ">
                <a class="menu-link" href="/admin/category"> <i class="icon material-icons md-store"></i>
                    <span class="text">Categories</span>
                </a>
                <!-- <div class="submenu">
                    <a href="page-products-list.html">Product List</a>
                    <a href="page-products-grid.html">Product grid</a>
                    <a href="page-products-grid-2.html">Product grid 2</a>
                    <a href="page-categories.html" class="active">Categories</a>
                </div> -->
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="/admin/userList"> <i class="icon material-icons md-person"></i>
                    <span class="text">Users</span>
                </a>
                <!-- <div class="submenu">
                    <a href="page-sellers-cards.html">Sellers cards</a>
                    <a href="page-sellers-list.html" class="active">Sellers list</a>
                    <a href="page-seller-detail.html">Seller profile</a>
                </div> -->
            </li>
            <!-- <li class="menu-item has-submenu">
                <a class="menu-link" href="page-form-product-1.html"> <i class="icon material-icons md-add_box"></i>
                    <span class="text">Add product</span>
                </a>
                <div class="submenu">
                    <a href="page-form-product-1.html">Add product 1</a>
                    <a href="page-form-product-2.html">Add product 2</a>
                    <a href="page-form-product-3.html">Add product 3</a>
                    <a href="page-form-product-4.html">Add product 4</a>
                </div>
            </li> -->
            <li class="menu-item">
                <a class="menu-link" href="/admin/banners"> <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Banners</span>
                </a>
                <!-- <div class="submenu">
                    <a href="page-transactions-1.html">Transaction 1</a>
                    <a href="page-transactions-2.html">Transaction 2</a>
                </div> -->
             </li>
             <li class="menu-item has-submenu">
                <a class="menu-link" href="#"> <i class="icon material-icons md-stars"></i>
                    <span class="text">Coupons</span>
                </a>
                <div class="submenu">
                    <a href="/admin/coupons">Coupons</a>
                    <a href="/admin/addCoupons">Add Coupon</a>
                </div>
            </li>
             <li class="menu-item">
                <a class="menu-link" href="/admin/orders"> <i class="icon material-icons md-shopping_cart"></i>
                    <span class="text">Orders</span>
                </a>
            </li>
           <!---- <li class="menu-item">
                <a class="menu-link" href="page-reviews.html"> <i class="icon material-icons md-comment"></i>
                    <span class="text">Reviews</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="page-brands.html"> <i class="icon material-icons md-stars"></i>
                    <span class="text">Brands</span> </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" disabled href="#"> <i class="icon material-icons md-pie_chart"></i>
                    <span class="text">Statistics</span>
                </a>
            </li> -->
        </ul>
        <!-- <hr>
        <ul class="menu-aside">
            <li class="menu-item has-submenu">
                <a class="menu-link" href="#"> <i class="icon material-icons md-settings"></i>
                    <span class="text">Settings</span>
                </a>
                <div class="submenu">
                    <a href="page-settings-1.html">Setting sample 1</a>
                    <a href="page-settings-2.html">Setting sample 2</a>
                </div>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="page-blank.html"> <i class="icon material-icons md-local_offer"></i>
                    <span class="text"> Starter page </span>
                </a>
            </li>
        </ul>
        <br>
        <br> -->
    </nav>
</aside>
<main class="main-wrap">
    <%-include('../partials/adminHeader.ejs')-%>
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Products List</h2>
                <!-- <p>Lorem ipsum dolor sit amet.</p> -->
            </div>
            <div>
                <!-- <a href="#" class="btn btn-light rounded font-md">Export</a> -->
                <!-- <a href="#" class="btn btn-light rounded  font-md">Import</a> -->
                <a href="/admin/addProductPage" class="btn btn-primary btn-sm rounded">Create new</a>
            </div>
            </div>
        <div class="card mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover" id="productTable">
                        <thead>
                            <tr>
                                <th>Index</th>
                                <th>Product</th>
                                <th>price</th>
                                <th>Category</th>
                                <th>Instock</th>
                                <th class="text-end">Edit</th>
                                <th class="text-end">Delete</th>

                            </tr>
                        </thead>
                        <tbody>
                            <% allproduct.forEach(function(product,index) { %>
                            <tr>
                                <td><%-index+1%></td>
                                <td width="40%">
                                    
                                        <div class="left itemside">
                                            <img src="<%=product.pimages[0]%>" class="img-sm img-avatar" alt="Userpic">
                                        </div>
                                        <div class="info pl-3">
                                            <h6 class="mb-0 title"><%= product.pname %></h6>
                                            <small class="text-muted"><%= product.pdescription %></small>
                                        </div>
                                    
                                </td>
                                <td>₹<%= product.pprice %></td>
                                <td><span class="badge rounded-pill alert-success"><%=product.pcategory%></span></td>
                                <%if(product.pcountInStock===0){%>
                                <td class="alert-danger">Add Stock!!</td>
                            <%}else{%>
                                <td><%=product.pcountInStock%> kg</td>
                            <%}%>
                                
                                <td class="text-end">
                                    <a href="/admin/singleProduct/<%=product._id%>" class="btn btn-sm btn-warning rounded font-sm mt-10">Edit</a>
                                </td>
                                <!-- <td class="text-end">
                                    <a href="/admin/deleteProduct/<%=product._id%>" class="btn btn-sm btn-danger rounded font-sm mt-10">Delete</a>
                                </td> -->
                                    <td><button type="submit" class="btn btn-sm btn-danger rounded font-sm mt-10" onclick="deleteProduct('<%=product._id%>')">Delete</button></td>
                            </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
       
    </section>
    <%-include('../partials/adminFooter.ejs')%>
              

<script>
    function deleteProduct(productId){
        Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
       confirmButtonText: 'Yes, delete Product!'
     }).then((result) => {
       if (result.isConfirmed) {
     
     $.ajax({
       url:"/admin/deleteProduct/"+productId,
       method:"post",
       success: function() 
       {
   
             // Reload the page
             location.reload();
       }
   })
       }
   })
   }
</script>
   

