<div class="screen-overlay"></div>
<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
        <a href="index.html" class="brand-wrap">
            <img src="/assets/imgs/logo.png" class="logo" alt="Evara Dashboard">
        </a>
        <div>
            <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
            </button>
        </div>
    </div>
    <nav>
        <ul class="menu-aside">
            <li class="menu-item">
                <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/productList"> <i
                        class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Products</span>
                </a>
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="/admin/category"> <i class="icon material-icons md-store"></i>
                    <span class="text">Categories</span>
                </a>
            </li>
            <li class="menu-item  active">
                <a class="menu-link" href="/admin/userList"> <i class="icon material-icons md-person"></i>
                    <span class="text">Users</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/banners"> <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Banners</span>
                </a>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href="#"> <i class="icon material-icons md-stars"></i>
                    <span class="text">Coupons</span>
                </a>
                <div class="submenu">
                    <a href="/admin/coupons">Coupons</a>
                    <a href="/admin/addCoupons">Add Coupon</a>
                </div>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/orders"> <i class="icon material-icons md-shopping_cart"></i>
                    <span class="text">Orders</span>
                </a>
            </li>
            <hr>
            <li class="menu-item ">
                <a class="menu-link" href="/admin/sales-report">
                  <i class="icon material-icons md-settings"></i>
                  <span class="text">Sales Report</span>
                </a>
              </li>
        <br>
        <br>
    </nav>
</aside>
<main class="main-wrap">
    <%-include('../partials/adminHeader.ejs')-%>
    <section class="content-main">
        <div class="content-header">
            <h2 class="content-title">User list</h2>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover" id="userTable">
                        <thead>
                            <tr>
                                <th>Index</th>
                                <th>user</th>
                                <th>Email</th>
                                <!-- <th>Status</th> -->
                                <th>Registered</th>
                                <th class="text-end">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% allUser.reverse().forEach(function(user,index) { %>
                            <tr>
                                <td><%=index+1%></td>
                                <td width="40%">
                                    <a href="#" class="itemside">
                                        <div class="left">
                                            <img src="/assets/imgs/people/avatar1.jpg" class="img-sm img-avatar" alt="Userpic">
                                        </div>
                                        <div class="info pl-3">
                                            <h6 class="mb-0 title"><%= user.firstname %></h6>
                                            <small class="text-muted"><%= user._id.toString().substr(0, 10) %></small>
                                        </div>
                                    </a>
                                </td>
                                <td><%= user.email %></td>
                                <!-- <td><span class="badge rounded-pill alert-success">Active</span></td> -->
                                <td><%= new Date(user.createdAt).toLocaleDateString() %></td>

                                <% if (user.isblocked) { %>
                                    
                                     <td> <button type="submit" class="btn btn-sm btn-success rounded font-sm mt-15" onclick="unblockUser('<%-user._id%>')">unblock</button></td>
                                    
                                  <% } else { %>
                                    
                                      <td><button type="submit" class="btn btn-sm btn-danger rounded font-sm mt-15" onclick="blockUser('<%-user._id%>')">Block</button></td>
                                    
                                  <% } %>
                            </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
       
    </section>
    </main>
    <%-include('../partials/adminFooter.ejs')%>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.all.min.js"></script>


    <script>
     function blockUser(userId){
     Swal.fire({
     title: 'Are you sure?',
     text: "You won't be able to revert this!",
     icon: 'warning',
     showCancelButton: true,
     confirmButtonColor: '#3085d6',
     cancelButtonColor: '#d33',
    confirmButtonText: 'Yes, Block user!'
  }).then((result) => {
    if (result.isConfirmed) {
  
  $.ajax({
    url:"/admin/blockUser/"+userId,
    method:"post",
    success: function() 
    {

          // Reload the page
          location.reload();
    }
})
    }
})
}
            
        
function unblockUser(userId){
     Swal.fire({
     title: 'Are you sure?',
     text: "You won't be able to revert this!",
     icon: 'warning',
     showCancelButton: true,
     confirmButtonColor: '#3085d6',
     cancelButtonColor: '#d33',
    confirmButtonText: 'Yes, UnBlock user!'
  }).then((result) => {
    if (result.isConfirmed) {
  
  $.ajax({
    url:"/admin/unBlockUser/"+userId,
    method:"post",
    success: function() {
          // Reload the page
          location.reload();
        }
})
    }
})
                }

    </script>






