<%-include('../partials/userHeader.ejs')%> 
<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-1">
                <% allBanner.forEach(function(banner) { %>
                    <%if(banner.bname==='ogani logo'){%>
                        <div class="header__logo">
    
                            <% if (user){%>
    
                                <a href="/user/index"><img src="<%=banner.bimages%>" alt=""></a>
                            <%}else{%>
                                
                                <a href="/"><img src="<%=banner.bimages%>" alt=""></a>
                            <%}%>
                            
                        </div>
                        <%}%>
                        <%})%>
            </div>
            <div class="col-lg-9">
                <nav class="header__menu">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="#">
                                <div class="hero__search__categories">
                                    All Categories
                                    <span class="arrow_carrot-down"></span>
                                </div>
                                <input type="text" placeholder="What do yo u need?">
                                <button type="submit" class="site-btn">SEARCH</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+9496959109</h5>
                                <span>support 24/7 time</span>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col-lg-2">
                <div class="header__cart">
                    <ul>
                        <li><a href="#"><i class="fa fa-heart"></i> </a></li>
                            <!-- <span>1</span></a></li> -->
                        <li><a href="/user/getCart"><i class="fa fa-shopping-bag"></i><span><%=cartCount%></span></a></li>
                             <!-- <span>3</span></a></li> -->
                    </ul>
                    <!-- <div class="header__cart__price">item: <span>₹150.00</span></div> -->
                </div>
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
        
        
    
            <!-- <div class="col-lg-2">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>All departments</span>
                    </div>
                    <ul>
                        <li><a href="#">Fresh Meat</a></li>
                        <li><a href="#">Vegetables</a></li>
                        <li><a href="#">Fruit & Nut Gifts</a></li>
                        <li><a href="#">Fresh Berries</a></li>
                        <li><a href="#">Ocean Foods</a></li>
                        <li><a href="#">Butter & Eggs</a></li>
                        <li><a href="#">Fastfood</a></li>
                        <li><a href="#">Fresh Onion</a></li>
                        <li><a href="#">Papayaya & Crisps</a></li>
                        <li><a href="#">Oatmeal</a></li>
                        <li><a href="#">Fresh Bananas</a></li>
                    </ul>
                </div>
            </div> -->
        </div>
    </div>
</section>
    <!-- Hero Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Checkout</h2>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
    <div>



    </div>

    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="row">
                
            </div>
            <div class="checkout__form">
                <%separateAddresses.forEach(function(address){%>
                    <%if(address.default===true){%>
                <h4>Billing Details</h4>
                <form  id="checkout-form">
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>First name<span>*</span></p>
                                        <input type="text" value="<%=address.fname%>" class="text-dark" name="fname">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Last Name<span>*</span></p>
                                        <input type="text" value="<%=address.lname%>" class="text-dark">
                                    </div>
                                </div>
                            </div>
                            
                            <div class="checkout__input">
                                <p>Address<span>*</span></p>
                                <input type="text"  class="checkout__input__add text-dark" value="<%=address.address%>">
                            </div>
                            <div class="checkout__input">
                                <p>Town/City<span>*</span></p>
                                <input type="text" value="<%=address.city%>" class="text-dark">
                            </div>
                            <div class="checkout__input">
                                <p>Country/State<span>*</span></p>
                                <input type="text" value="<%=address.state%>" class="text-dark">
                            </div>
                            <div class="checkout__input">
                                <p>Postcode / ZIP<span>*</span></p>
                                <input type="text" value="<%=address.pincode%>" class="text-dark">
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Phone<span>*</span></p>
                                        <input type="text" value="<%=address.phone%>" class="text-dark">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Email<span>*</span></p>
                                        <input type="text" value="<%=address.email%>" class="text-dark">
                                    </div>
                                </div>
                            </div>
                            
                            <!-- <div class="checkout__input__checkbox"> -->
                                <label for="diff-acc">
                                    Ship to a different address? <a href="/user/newAddress">Click here</a>
                                    <!-- <input type="checkbox" id="diff-acc"> -->
                                    <!-- <span class="checkmark"></span> -->
                                </label>
                            <!-- </div> -->
                            
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="checkout__order">
                                <h4>Your Order</h4>
                                <div class="checkout__order__products">Products <span>Total</span></div>
                                <% productDetails.forEach((prod)=>{%>
                                <ul>
                                    <li><%=prod.name%><span>₹<%=prod.totalPrice%></span></li>
                                </ul>
                                <%})%>
                                <div class="checkout__order__subtotal" >Subtotal <span>₹<%=subTotal%></span></div>
                                <div class="checkout__order__total" id="totalPrice">Total <span>₹<%=total%></div>
                                <div class="custom-control custom-radio">
                                    <input id="cod" value="cash_on_delivery" name="paymentMethod" type="radio" class="custom-control-input"/>
                                    <label class="custom-control-label" for="cod">Cash On Delivery</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="online-payment" value="online_payment" name="paymentMethod" type="radio" class="custom-control-input"/>
                                    <label class="custom-control-label" for="online-payment">Online Payment</label>
                                  </div>
                                <button type="submit" class="site-btn">PLACE ORDER</button>
                            </div>
                        </div>
                    </div>  
                </form>
                <%}%>
                <%})%>
            </div>
        </div>
        <div>
        </div>
    </section>
    <!-- Checkout Section End -->

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
  // get the radio buttons with name "paymentMethod"
const paymentMethodRadioButtons = document.querySelectorAll('input[name="paymentMethod"]');

// add event listener to each radio button
paymentMethodRadioButtons.forEach((radioButton) => {
  radioButton.addEventListener('change', () => {

    if(radioButton.value==="wallet"){
      document.getElementsByClassName("wallet-card")[0].style.display = "block";

    }else{
      document.getElementsByClassName("wallet-card")[0].style.display = "none";

    }
    // check if the selected value is "stripe"
    if (radioButton.value === "online_payment") {
      // show the Stripe pay button
      document.getElementById("stripe-pay-button").style.display = "block";
      document.getElementById("order-button").style.display = "none";
      
    
    } else {
      // hide the Stripe pay button
      document.getElementById("stripe-pay-button").style.display = "none";
      document.getElementById("order-button").style.display = "block";

    }
  });
});

  $("#checkout-form").on("submit", (event) => {
    event.preventDefault();
    var totalAmount = document.getElementById('totalPrice').textContent; 
    var code =document.getElementById('couponCode').textContent;
  $("<input>").attr({
    type: "hidden",
    name: "totalAmount",
    value:parseInt(totalAmount.slice(1,8))
  }).appendTo("#checkout-form");
    $.ajax({
      url: "/place-order",
      method: "post",
      data: $("#checkout-form").serialize(), //send the entire data from the form
      success: (response) => {
        if (response.codstatus) {
          Swal.fire({
          title: "Order Placed!",
          icon: "success",

         confirmButtonText: "OK",
        }).then((results)=>{
          if(results.isConfirmed){
            location.href = "/order-success";
          }
        })
         
        }else{
          razorpay(response)
        }
      },
    });
  });

function  razorpay(order){
  var options = {
    "key": "rzp_test_o9pzcjwKBFmvKq", // Enter the Key ID generated from the Dashboard
    "amount":order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "2 Wheels", //your business name
    "description": "Test Transaction",
    "image": "userAssets/images/zyro-image.png",
    "order_id":order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
    //     alert(response.razorpay_payment_id);
    //     alert(response.razorpay_order_id);
    //     alert(response.razorpay_signature)
        verifyPayment(response,order)
    },
    // "prefill": {
    //     "name":user.name,
    //     "contact":user.mobileNumber
    // },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#F05151"
    }
};
var rzp1 = new Razorpay(options);
    rzp1.open();

}


function verifyPayment(payment,order){
  $.ajax({
    url:"/verify-payment",
    data:{
    payment,
    order
    },
    method:"post",
    success: (response) => {
        if (response.status) {
          Swal.fire({
          title: "Payment Success!",
          icon: "success",
         confirmButtonText: "OK",
        }).then((results)=>{
          if(results.isConfirmed){
            location.href = "/order-success"
          }else{
            location.href = "/order-failed";

          }
        })
         
        }
      }

  })
}


</script>

    <%- include('../partials/userFooter.ejs')%>
