 <div class="screen-overlay"></div>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Order detail</h2>
                </div>
            </div>
            <div class="card">
                <header class="card-header">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                            <span>
                                <i class="material-icons md-calendar_today"></i> <b><%= orderInfo.order_date.toLocaleDateString('en-US', {weekday: 'short', year: 'numeric', month: 'short', day: 'numeric', hour: 'numeric', minute: 'numeric', hour12: true}) %></b>

                            </span> <br>
                            <small class="text-muted">Order ID:<%=orderInfo._id%></small>
                        </div>
                        <%if(orderInfo.order_status === 'delivered'){%>
                        <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                            <a class="btn btn-secondary print ms-2 " href="/user/download-invoice/<%=orderInfo._id %>"><i class="icon material-icons md-print"></i></a>
                        </div>
                        <%}%>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="row mb-50 mt-20 order-info-wrap">
                        <div class="col-md-4">
                           
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-person"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Customer</h6>
                                    <p class="mb-1">
                                        <%=selectedAddress.fname%> <%=selectedAddress.lname%> <br> <template class="__cf_email__" data-cfemail="e2838e879aa2879a838f928e87cc818d8f">[email&#160;protected]</template> <br> <%=selectedAddress.phone%>
                                    </p>
                                    <a href="/user/viewProfile">View profile</a>
                                </div>
                            </article>
                          
                        </div> <!-- col// -->
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-local_shipping"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Order info</h6>
                                    <p class="mb-1">
                                        Shipping: organi Express <br> Pay method: <%=orderInfo.payment_method%><br>order Status:<b><%=orderInfo.order_status%></b>
                                    </p>
                                    <!-- <a href="#">Download info</a> -->
                                </div>
                            </article>
                        </div> <!-- col// -->
                        <div class="col-md-4">
                        
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-place"></i>
                                </span>

                                    <div class="text">
                                        <h6 class="mb-1">Deliver to</h6>
                                        <p class="mb-1">
                                           <%=selectedAddress.address%> <br><%=selectedAddress.city%><br> <%=selectedAddress.pincode%>
                                        </p>
                                        <a href="/user/viewProfile">View profile</a>
                                    </div>
                                </article>
                               
                        </div> <!-- col// -->
                    </div> <!-- row // -->
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th width="40%">Product</th>
                                            <th width="20%">Quantity</th>
                                            <th width="20%" class="text-end">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% let order = orderInfo.items %>
                                        <% for (let i = 0; i < order.length; i++) { %>
                                        <tr>
                                            <td>
                                                <a class="itemside" href="#">
                                                    <div class="left">
                                                        <img src="<%=order[i].productImage%>" width="" height="" class="img-sm" alt="Item">
                                                    </div>
                                                    <div class="info"><%=order[i].productName%></div>
                                                </a>
                                            </td>
                                            
                                            <td><%= order[i].quantity %></td>
                                            <td class="text-end"><%= order[i].price %></td>
                                        </tr>
                                        <% } %> 
                                        <tr>
                                            <td colspan="4">
                                                <article class="float-end">
                                                    <!-- <dl class="dlist">
                                                        <dt>Subtotal:</dt>
                                                        <dd>₹973.35</dd>
                                                    </dl> -->
                                                    <!-- <dl class="dlist">
                                                        <dt>Shipping cost:</dt>
                                                        <dd>₹10.00</dd>
                                                    </dl> -->
                                                    <dl class="dlist">
                                                        <dt>Grand total:</dt>
                                                        <dd> <b class="h5">₹<%=orderInfo.total_amount%></b> </dd>
                                                    </dl>
                                                    <dl class="dlist">
                                                        <dt class="text-muted">payment Status:</dt>
                                                        <dd>
                                                            <span class="badge rounded-pill <%= orderInfo.payment_status === 'pending' ? 'alert-warning' : orderInfo.order_status === 'cancelled' ? 'alert-danger':'alert-success' %>"><%= orderInfo.payment_status %></span>
                                                        </dd>
                                                    </dl>
                                                </article>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div> <!-- table-responsive// -->
                        </div> <!-- col// -->
                        <div class="col-lg-1"></div>
                        <div class="col-lg-4">
                            <div class="box shadow-sm bg-light">
                                <h6 class="mb-15">Payment info</h6>
                                <p>
                                   <h3><%=orderInfo.payment_method%></h3>
                                </p>
                            </div><br>
                            <%if(!cancelled){%>
                            <%if(cancel && orderInfo.order_status != 'delivered') {%>
                                <div>
                                    <button type="submit" class="btn btn-danger" onclick="cancelOrder('<%=orderInfo._id%>')">Cancel Order</button>
                                </div>
                            <%}else{%>
                            <div>
                                <a href="/user/index"> <button class="btn btn-success">Continue Shopping</button></a>
                            </div>
                            <%}%>
                        <%}else{%>
                            
                            <%}%>
                        </div> <!-- col// -->
                        
                    </div>
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
        </section> <!-- content-main end// -->


        <script>
            function cancelOrder(orderId){
                Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
               confirmButtonText: 'Yes, Cancel order!'
             }).then((result) => {
               if (result.isConfirmed) {
             
             $.ajax({
               url:"/user/cancelOrder/"+orderId,
               method:"post",
               success: function() 
               {
           
                     // Reload the page
                     location.reload();
               }
           })
               }
           })
           }
        </script>
