<%-include('../partials/userHeader.ejs')%> 
<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <% allBanner.forEach(function(banner) { %>
                    <%if(banner.bname==='ogani logo'){%>
                        <div class="header__logo">
                            <a href="/user/index"><img src="<%=banner.bimages%>" alt=""></a>
                        </div>
                        <%}%>
                        <%})%>
            </div>
           
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                      <form action="/user/product-search/?search"  method="get" onsubmit="return validateForm()">
                        <div class="hero__search__categories">
                            All Categories
                            <span class="arrow_carrot-down"></span>
                        </div>
                        <input type="search" placeholder="What do yo u need?" name="search" id="product-search">
                        <button type="submit" class="site-btn">SEARCH</button>
                    </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="header__cart">
                            <ul>
                                <li><a href="/user/wishList"><i class="fa fa-heart"></i> <span><%=wishCount%></span> </a></li>
                                <li><a href="/user/getCart"><i class="fa fa-shopping-bag"></i><span><%=cartCount%></span></a></li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Wish list</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shoping Cart Section Begin -->

    <%if(showList.length>0){%>
    <section class="shoping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th class="shoping__product">Products</th>
                                    <th>Price</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% showList.forEach(element => { %>
                                <tr>
                                        <td class="shoping__cart__item">
                                            <img src="<%=element?.productId?.pimages%>" alt="" style="height:100px;width:100px">
                                            <h5><%=element?.productId?.pname%></h5>
                                        </td>
                                        <td class="shoping__cart__price">
                                            ₹<%=element?.productId?.pprice%>
                                    </td>
                                    <td class="shoping__cart__total" style="width: 120px;">
                                        <%if(element?.productId?.pcountInStock != 0){%>
                                            <a
                                            class="btn btn-block btn-success"
                                            onclick="addToCart('<%=element?.productId?._id %>');event.preventDefault();">
                                             <i class="icon-cart-plus"></i>Add to Cart
                </a>
                                    <%}else{%>
                                        <span class="text-danger">Out of stock</span>
                                    <%}%>
                                    </td>
                                    <td class="shoping__cart__item__close">
                                        <span class="icon_close" onclick="removeFromWishList('<%=element.productId._id %>');event.preventDefault();"></span>
                                    </td>
                                </tr>
                               <%})%>
                            </tbody>
                        </table>
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__btns">
                        <a href="/user/shopping" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
                    </div>
                </div>
                
                
            </div>
        </div>
    </section>
    <%}else{%>
        <div style="text-align:center;">
            <img src="/img/f6e464230662e7fa4c6a4afb92631aed.png" style="width: 500px;height:500px;vertical-align:middle;"><br>
            <a href="/user/shopping"><button class="btn btn-success mb-5 btn-lg w-25">Keep shopping</button></a>
        </div>
        
        <%}%>
    <%- include('../partials/userFooter.ejs')%>


    